<%= form_for @employee, :html => { :multipart => true} do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label 'Employee Number' %><br />
    <%= f.text_field :employeeNumber %>
  </div>
  <div class="field">
    <%= f.label 'First Name' %><br />
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label 'Middle Name' %><br />
    <%= f.text_field :middleName %>
  </div>
  <div class="field">
    <%= f.label 'Last Name' %><br />
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label 'Job title' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'experience Level' %><br />
    <%= f.text_field :experienceLevel %>
  </div>
  <div class="field">
    <%= f.label 'Cell Phone' %><br />
    <%= f.text_field :cellPhone %>
  </div>
    <div class="field">
    <%= f.label 'Career Level' %><br />
    <%= f.text_field :CareerLevelID %>
  </div>

<% f.fields_for :photo do |builder| %>
 

 
<p>
<%= builder.label :photo, "Image File" %>
<%= builder.file_field :photo %>
</p>
 

 
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
