<p id="notice"><%= notice %></p>
<p>
  <b>ID:</b>
  <%= @employee.id %>
</p>

<p>
  <b>First Name:</b>
  <%= @employee.firstName %>
</p>
<p>

  <b>Middle Name:</b>
  <%= @employee.middleName %>
</p>


<p>
  <b>Last Name:</b>
  <%= @employee.lastName %>
</p>

<p>
  <b>Title:</b>
  <%= @employee.title %>
</p>

<p>
  <b>Experience Level:</b>
  <%= @employee.experienceLevel %>
</p>


<%= link_to 'Edit This Employee', edit_employee_path(@employee) %> |
<%= link_to 'Back to Employee List', employees_path %>
